* {
    box-sizing: border-box;
    margin: 0px;
}

.wrapper {
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wrapper__header {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
}

.divideLine {
    width: 100%;
    border-top: 1px solid gray;
}

.wrapper__title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title {
    color: #55b2e4;
    font-size: 14px;
    font-weight: 700;
    font-family: "맑은 고딕";
}

.subtitle {
    font-size: 9px;
    padding-left: 5px;
    font-family: "맑은 고딕";
}

.albumWraper{
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.album__text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.album__title {
    font-size: 11px;
    font-weight: 700;
    font-family: '맑은 고딕';
    color: #0F465E;
}

.album__artist {
    font-size: 10px;
    font-family: '맑은 고딕';
    color: gray;
}

.wrapper__body {
    width: 100%;
    height: 180px;
}

.albumTable {
    width: 100%;
    padding-top: 8px;
    border-spacing: 0px;
}

.albumTable th {
    height: 20px;
    font-size: 10px;
    font-weight: bold;
    color: gray;
    background-color: #eee;
    padding-top: 5px;
    border-top: 1px solid gray;
    border-bottom: 1px dashed gray;
    align-items: center;
}

.albumTable td {
    height: 20px;
    font-size: 10px;
    color: #0f465e;
    border-bottom: 1px dashed gray;
    
}

.album-table-checkbox {
    width: 5%;
    text-align: center;
}

.album-table-number {
    width: 10%;
    text-align: center;
}

.album-table-song {
    width: 45%;
    text-align: left;
}

.album-table-artist {
    width: 30%;
    text-align: center;  
}